menu "models: imagenet_cls"
    config IMAGENET_CLS_MOBILENETV2_S8_V1
        bool "imagenet_cls_mobilenetv2_s8_v1"
        default y

    config IMAGENET_CLS_MODEL_TYPE
        int
        default 0 if IMAGENET_CLS_MOBILENETV2_S8_V1

    choice
        prompt "model location"
        default IMAGENET_CLS_MODEL_IN_FLASH_RODATA
        help
            imagenet_cls model location
        config IMAGENET_CLS_MODEL_IN_FLASH_RODATA
            bool "flash_rodata"
        config IMAGENET_CLS_MODEL_IN_FLASH_PARTITION
            bool "flash_partition"
        config IMAGENET_CLS_MODEL_IN_SDCARD
            bool "sdcard"
    endchoice

    config IMAGENET_CLS_MODEL_LOCATION
        int
        default 0 if IMAGENET_CLS_MODEL_IN_FLASH_RODATA
        default 1 if IMAGENET_CLS_MODEL_IN_FLASH_PARTITION
        default 2 if IMAGENET_CLS_MODEL_IN_SDCARD
endmenu
