menu "example: human_face_recognition"
    choice DB_FILE_SYSTEM
        prompt "database file system"
        default DB_FATFS_FLASH
        help
            fatfs support flash/sdcard. spiffs only support flash.
        config DB_FATFS_FLASH
            bool "fatfs_flash"
        config DB_FATFS_SDCARD
            bool "fatfs_sdcard"
        config DB_SPIFFS
            bool "spiffs"
    endchoice

    config DB_FILE_SYSTEM
        int
        default 0 if DB_FATFS_FLASH
        default 1 if DB_FATFS_SDCARD
        default 2 if DB_SPIFFS
endmenu
