menu "Example Configuration"

config ESP_WIFI_SSID
    string "WiFi SSID"
    default ""
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default ""
    help
	WiFi password (WPA or WPA2) for the example to use.

config MAX_STA_CONN
    int "Maximal STA connections"
    default 1
    help
	Max number of the STA connects to AP.

config ESP_WIFI_AP_CHANNEL
    string "WiFi AP Channel"
    default ""
    help
	AP channel for better connection performance.

config SERVER_IP
    string "IP address of server"
    default "192.168.4.1"
endmenu

