CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_SPIRAM_SUPPORT=y

CONFIG_ESP32S2_DATA_CACHE_16KB=y
ESP32S2_DATA_CACHE_LINE_32B=y

CONFIG_CAMERA_MODULE_ESP_S2_KALUGA=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ST7789=y