# General Configuration
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_ESPTOOLPY_NO_STUB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_SPIRAM_MODE_OCT=y

# ESP32-S3 Configuration
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_8WAYS=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y


# Image Relation
CONFIG_CAMERA_MODULE_ESP_S3_EYE=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ST7789=y
CONFIG_MFN_V1=y
CONFIG_S8=y


# Speech Relation

# Chinese
CONFIG_MODEL_IN_SPIFFS=y
# CONFIG_MODEL_IN_SDCARD is not set
CONFIG_USE_WAKENET=y
CONFIG_SR_WN_WN9_HILEXIN=y

CONFIG_USE_MULTINET=y
CONFIG_SR_MN_CHINESE=y
CONFIG_SR_MN_CN_MULTINET5_RECOGNITION_QUANT8=y
CONFIG_CN_SPEECH_COMMAND_ID0="ting zhi gong zuo"
CONFIG_CN_SPEECH_COMMAND_ID1="jin xian shi"
CONFIG_CN_SPEECH_COMMAND_ID2="ren lian shi bie"
CONFIG_CN_SPEECH_COMMAND_ID3="yi dong zhen ce"
CONFIG_CN_SPEECH_COMMAND_ID4="tian jia ren lian"
CONFIG_CN_SPEECH_COMMAND_ID5="shan chu ren lian"
CONFIG_CN_SPEECH_COMMAND_ID6="shi bie yi xia"
CONFIG_CN_SPEECH_COMMAND_ID7=""
CONFIG_CN_SPEECH_COMMAND_ID8=""
CONFIG_CN_SPEECH_COMMAND_ID9=""
CONFIG_CN_SPEECH_COMMAND_ID10=""
CONFIG_CN_SPEECH_COMMAND_ID11=""
CONFIG_CN_SPEECH_COMMAND_ID12=""
CONFIG_CN_SPEECH_COMMAND_ID13=""
CONFIG_CN_SPEECH_COMMAND_ID14=""
CONFIG_CN_SPEECH_COMMAND_ID15=""
CONFIG_CN_SPEECH_COMMAND_ID16=""
CONFIG_CN_SPEECH_COMMAND_ID17=""
CONFIG_CN_SPEECH_COMMAND_ID18=""
CONFIG_CN_SPEECH_COMMAND_ID19=""

# English
# CONFIG_SR_WN_MODEL_WN8_QUANT8=y
# CONFIG_SR_WN_WN8_HIESP=y
# 
# CONFIG_SR_MN_ENGLISH=y
# CONFIG_SR_MN_EN_MULTINET5_SINGLE_RECOGNITION_QUANT8=y
# CONFIG_EN_SPEECH_COMMAND_ID0="STnP WkKgl"
# CONFIG_EN_SPEECH_COMMAND_ID1="DgSPLd bNLm"
# CONFIG_EN_SPEECH_COMMAND_ID2="FdS RfKcGNgscN"
# CONFIG_EN_SPEECH_COMMAND_ID3="MbscN DgTfKscN"
# CONFIG_EN_SPEECH_COMMAND_ID4="fNTk FdS"
# CONFIG_EN_SPEECH_COMMAND_ID5="DgLmT FdS"
# CONFIG_EN_SPEECH_COMMAND_ID6="RfKcGNiZ FdS"
