choice CONV_IMPL
    bool "Convolution Implementation"
    default XTENSA_IMPL
      
config C_IMPL
	bool "ANSI Implementation for general platforms"

config XTENSA_IMPL
	bool "Xtensa Implementation for ESP"

config TIE_IMPL
	bool "TIE Implementation for ESP"
	
endchoice



menu "ESP-FACE Configuration"

    choice DETECTION_MODEL
        bool "Detection Model"
        default MTMN_LITE_QUANT

        config MTMN_LITE_QUANT
            bool "MTMN lite in quantization"
        
        config MTMN_LITE_FLOAT
            bool "MTMN lite in float"

        config MTMN_HEAVY_QUANT
            bool "MTMN heavy in quantization"
    endchoice

    choice RECOGNITION_MODEL
        bool "Recognition Model"
        default MFN56_1X
        config FRMN
            bool "FRMN"
        config MFN56_1X
            bool "MFN56_1X"
        config MFN56_2X
            bool "MFN56_2X"
        config MFN56_3X
            bool "MFN56_3X"
        config MFN56_4X
            bool "MFN56_4X"
    endchoice

    menu "Object Detection"
    
        choice OBJECT_DETECTION_MODEL
            bool "Model"
            default LSSH_SPARSE_MN_5

            config LSSH_SPARSE_MN_5
                bool "LSSH SPARSE MN 5"
        endchoice

        config LSSH_WITH_LANDMARK
            bool "With landmark"
            default n

    endmenu

endmenu
